@{
    ViewData["Title"] = "Race Replays";
}

<div class="container">
    <div class="row">
        <div class="text-center col-md-12">
            <h1 class="display-4">Current Year Replays</h1>
            <h4>If you need a previous replay, just ask.</h4>
        </div>

        <div class="text-center col-md-12"></div>
    </div>
</div>